<header class="page-header">
  <div class="container page-header__container">
    <button class="menu-button page-header__menu-button js-open-menu js-close-menu js-menu-button">
      <svg
        class="page-header__menu-button-icon"
        width="24"
        height="24"
        aria-label="иконка кнопки меню"
      >
        <use
          class="page-header__icon-menu-open"
          href="./images/page-header/icons.svg#menu-24px"
        ></use>
        <use
          class="page-header__icon-menu-close"
          href="./images/page-header/icons.svg#close-24px"
        ></use>
      </svg>
    </button>
    <a href="index.html" class="logo">Инстаботы</a>
    <div class="page-header__menu-container js-menu-container">
      <p class="page-header__navigation-header">Меню</p>
      <nav class="navigation">
        <ul class="navigation__list js-close-mob-menu">
          <li class="navigation__item">
            <a href="#section-how-we-do" class="navigation__link">О компании</a>
          </li>
          <li class="navigation__item">
            <a href="#section-tariffs" class="navigation__link">Тарифы</a>
          </li>
          <li class="navigation__item">
            <a href="#section-reviews" class="navigation__link">Отзывы</a>
          </li>
          <li class="navigation__item">
            <a href="#section-questions" class="navigation__link">Q&A</a>
          </li>
          <li class="navigation__item">
            <a href="#section-feedback" class="navigation__link">Обратная связь</a>
          </li>
        </ul>
      </nav>
      <div class="site-language">
        <span class="site-language__switcher">
          <a href="" class="site-language__link">Ru</a>/<a href="" class="site-language__link"
            >En</a
          >
        </span>
      </div>
    </div>

    <button class="login-button page-header__login-button">
      <svg
        class="page-header__login-button-icon"
        width="16"
        height="18"
        aria-label="иконка кнопки регистрации/входа на сайт"
      >
        <use href="./images/page-header/icons.svg#mobile-logos"></use>
      </svg>
      <span class="login-button-text">Вход и регистрация</span>
    </button>
  </div>
</header>
