<section class="section section-how-we-do" id="section-how-we-do">
  <div class="container section-how-we-do__container">
    <h2 class="title section-how-we-do__title">Как мы работаем</h2>
    <div class="section-how-we-do__content-container">
      <div class="image-thumb section-how-we-do__image-thumb">
        <picture>
          <source
            srcset="
              /images/how-we-do/phone-img-628.png    1x,
              /images/how-we-do/phone-img-628@2x.png 2x
            "
            media="(min-width:1440px)"
            type="image/png"
          />
          <source
            srcset="
              /images/how-we-do/phone-img-608.png    1x,
              /images/how-we-do/phone-img-608@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="
              /images/how-we-do/phone-img-343.png    1x,
              /images/how-we-do/phone-img-343@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            class="section-hero__image"
            src="/images/how-we-do/phone-img-343.png"
            alt="фото руки с телефоном"
            width="343"
          />
        </picture>
      </div>
      <div class="section-how-we-do__content-thumb">
        <div class="carousel__nav">
          <button class="carousel-nav-item" type="button" aria-label="кнопка навигации слайдов">
            Lorem ipsum
          </button>
          <button class="carousel-nav-item" type="button" aria-label="кнопка навигации слайдов">
            Lorem ipsum
          </button>
          <button class="carousel-nav-item" type="button" aria-label="кнопка навигации слайдов">
            Lorem ipsum
          </button>
        </div>
        <div class="carousel section-how-we-do__carousel">
          <div class="carousel__slide">
            <h3 class="carousel__title">Lorem ipsum dolor sit amet consectetur..</h3>
            <p class="carousel__subtitle">Semper sollicitudin ut cursus nunc eu ultricies.</p>
            <p class="carousel__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere lorem nulla tincidunt
              egestas nibh. Non orci, et massa sed vulputate proin. Eu euismod diam, arcu sit vitae
              nam. Tristique orci, ornare sit vel amet.
            </p>
            <p class="carousel__description">
              Ut elit dui iaculis malesuada in auctor dui. Sollicitudin varius vitae ut vitae lacus,
              sem dolor fermentum enim. Orci orci interdum pretium adipiscing augue sit nisl
              adipiscing.
            </p>
          </div>
          <div class="carousel__slide">
            <h3 class="carousel__title">Lorem ipsum dolor sit amet qwdqwdwdq..</h3>
            <p class="carousel__subtitle">Semper sollicitudin ut cursus nunc eu ultricies.</p>
            <p class="carousel__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias veniam error
              nostrum non voluptatibus recusandae, reprehenderit laboriosam aliquid sunt ut earum
              quae officia iste illo??.
            </p>
            <p class="carousel__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A sit dignissimos totam,
              perferendis necessitatibus explicabo dicta earum cupiditate laborum pariatur, dolorem
              dolor? Adipisci, hic qui???
            </p>
          </div>
          <div class="carousel__slide">
            <h3 class="carousel__title">Lorem ipsum dolor sit amet, xczxcgxsvdsf.</h3>
            <p class="carousel__subtitle">Semper sollicitudin ut cursus nunc eu ultricies.</p>
            <p class="carousel__description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugiat eligendi
              ipsum ex quas rerum! Et voluptates, tempora eveniet blanditiis omnis deleniti quod
              ducimus incidunt iste hic, eum, ex nemo.!!!
            </p>
            <p class="carousel__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate
              consequuntur voluptas error repellat magnam libero ullam corrupti doloribus ab
              sapiente neque provident, mollitia, natus nisi sunt dolores deserunt ex!!!
            </p>
          </div>
        </div>
        <a href="#feedback" class="section-how-we-do__call-back-link">Забронировать звонок</a>
      </div>
    </div>
  </div>
</section>
