<section class="section section-reviews" id="section-reviews">
  <div class="container section-reviews__container">
    <h2 class="title section-reviews__title">Отзывы</h2>
    <ul class="section-reviews__list">
      <li class="section-reviews__item section-reviews__item--position-oleg">
        <div class="section-reviews__wrapper">
          <img
            class="section-reviews__img"
            srcset="/images/reviews/cat-oleg.jpg 1x, /images/reviews/cat-oleg@2x.jpg 2x"
            src="/images/reviews/cat-oleg.jpg"
            alt="фото Кота Олежка"
          />
          <h3 class="section-reviews__subtitle">Кот Олежка</h3>
          <time class="section-reviews__time" datetime="2021-06-03">03.06.2021</time>
        </div>
        <div class="section-reviews__box">
          <p class="section-reviews__descriptions">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor.
            Congue arcu turpis est, aliquet porttitor.
          </p>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
        </div>
      </li>

      <li class="section-reviews__item section-reviews__item--position-semen">
        <div class="section-reviews__wrapper">
          <img
            class="section-reviews__img"
            srcset="/images/reviews/cat-semen.jpg 1x, /images/reviews/cat-semen@2x.jpg 2x"
            src="/images/reviews/cat-semen.jpg"
            alt="фото Кота Семена"
          />
          <h3 class="section-reviews__subtitle">Кот Семен</h3>
          <time class="section-reviews__time" datetime="2021-06-03">03.06.2021</time>
        </div>
        <div class="section-reviews__box">
          <p class="section-reviews__descriptions">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor.
            Congue arcu turpis est, aliquet porttitor.
          </p>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
        </div>
      </li>

      <li class="section-reviews__item section-reviews__item--position-serega">
        <div class="section-reviews__wrapper">
          <img
            class="section-reviews__img"
            srcset="/images/reviews/cat-serega.jpg 1x, /images/reviews/cat-serega@2x.jpg 2x"
            src="/images/reviews/cat-serega.jpg"
            alt="фото Кота Сереги"
          />
          <h3 class="section-reviews__subtitle">Кот Серега</h3>
          <time class="section-reviews__time" datetime="2021-06-03">03.06.2021</time>
        </div>
        <div class="section-reviews__box">
          <p class="section-reviews__descriptions">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor.
            Congue arcu turpis est, aliquet porttitor.
          </p>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-not-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-not-active"></use>
          </svg>
        </div>
      </li>

      <li class="section-reviews__item section-reviews__item--position-inocentiy">
        <div class="section-reviews__wrapper">
          <img
            class="section-reviews__img"
            srcset="/images/reviews/cat-inocentiy.jpg 1x, /images/reviews/cat-inocentiy@2x.jpg 2x"
            src="/images/reviews/cat-inocentiy.jpg"
            alt="фото Кота Инокентия"
          />
          <h3 class="section-reviews__subtitle">Кот Инокентий</h3>
          <time class="section-reviews__time" datetime="2021-06-03">03.06.2021</time>
        </div>
        <div class="section-reviews__box">
          <p class="section-reviews__descriptions">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor.
            Congue arcu turpis est, aliquet porttitor.
          </p>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-active"></use>
          </svg>
          <svg class="section-reviews__icon" aria-label="иконка звезда">
            <use href="/images/reviews/icons-star.svg#icon-star-not-active"></use>
          </svg>
        </div>
      </li>

      <li class="section-reviews__message">Котики структурированы!</li>
    </ul>

    <button class="section-reviews__button">Структурировать котиков</button>
  </div>
</section>
