<section class="section section-tariffs" id="section-tariffs">
  <div class="container">
    <h2 class="title section-tariffs__title">Наши тарифы</h2>
    <ul class="section-tariffs__list">
      <li class="section-tariffs__item">
        <div class="section-tariffs__wrapper">
          <h3 class="section-tariffs__subtitle">Эконом</h3>
          <p class="section-tariffs__price">
            <span class="section-tariffs__price-accent">2 990 руб</span>/месяц
          </p>
        </div>
        <div class="section-tariffs__box-content">
          <ul class="section-tariffs__list-services">
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
                felis odio.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-not-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-not-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-not-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
                felis odio.
              </p>
            </li>
          </ul>
          <button class="section-tariffs__button">Узнать подробнее</button>
        </div>
      </li>

      <li class="section-tariffs__item">
        <div class="section-tariffs__wrapper">
          <h3 class="section-tariffs__subtitle">Стандарт</h3>
          <p class="section-tariffs__price">
            <span class="section-tariffs__price-accent">4 990 руб</span>/месяц
          </p>
        </div>

        <div class="section-tariffs__box-content">
          <ul class="section-tariffs__list-services">
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
                felis odio.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-not-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-not-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
                felis odio.
              </p>
            </li>
          </ul>
          <button class="section-tariffs__button">Узнать подробнее</button>
        </div>
      </li>

      <li class="section-tariffs__item">
        <div class="section-tariffs__wrapper">
          <h3 class="section-tariffs__subtitle">Экстра</h3>
          <p class="section-tariffs__price">
            <span class="section-tariffs__price-accent">8 990 руб</span>/месяц
          </p>
        </div>
        <div class="section-tariffs__box-content">
          <ul class="section-tariffs__list-services">
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
                felis odio.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-not-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
                felis odio.
              </p>
            </li>
          </ul>
          <button class="section-tariffs__button">Узнать подробнее</button>
        </div>
      </li>

      <li class="section-tariffs__item">
        <div class="section-tariffs__wrapper">
          <h3 class="section-tariffs__subtitle">Премиальный</h3>
          <p class="section-tariffs__price">
            <span class="section-tariffs__price-accent">12 990 руб</span>/месяц
          </p>
        </div>
        <div class="section-tariffs__box-content">
          <ul class="section-tariffs__list-services">
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
                felis odio.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </li>
            <li class="section-tariffs__item-services">
              <svg class="section-tariffs__icon">
                <use href="/images/tariffs/icons.svg#icon-included"></use>
              </svg>
              <p class="section-tariffs__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
                felis odio.
              </p>
            </li>
          </ul>
          <button class="section-tariffs__button">Узнать подробнее</button>
        </div>
      </li>
    </ul>
  </div>
</section>
