<section class="hero">
    <div class="container">
        <div class="hero__wrapper-text">
            <h1 class="hero__title">Высокий уровень вовлечения представителей</h1>
            <form class="hero__form">
                <div class="hero__wrapper-input">
                    <input class="hero__input" type="email" placeholder="Введите свой e-mail">
                    <button class="hero__btn" type="submit">Отправить</button>
                </div>
                <p class="hero__text">
                    Нажимая на кнопку вы соглашаетесь на обработку 
                    <a class="hero__link" href="https://uk.wikipedia.org/wiki/%D0%9F%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%96_%D0%B4%D0%B0%D0%BD%D1%96"
                    target="_blank"
                    >
                        персональных данных
                    </a>
                </p>
            </form>
            <div class="hero__box">
                <img class="hero__img" src="./images/hero/wheeldown.png" alt=""/>
                <p class="hero__box-text">Листайте дальше</p>
            </div>
        </div>
        <div class="hero__wrapper-img">
            <div class="hero__image-thumb">
                <picture>
                  <source srcset="./images/hero/saly-628.png 1x, ./images/hero/saly-628@2x.png 2x" type="images/png" media="(min-width:768px)">
                  <img src="./images/hero/saly-628.png" alt="photo"/>
                </picture>
            </div>
        </div>
    </div>
</section>