<section class="advantages">
    <div class="container">
        <h2 class="advantages__title">Наши преимущества</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <div class="advantages__box">
                    <div class="advantages__image-thumb">
                        <picture>
                          <source srcset="./images/advantages/smile-easy-56.png 1x, ./images/advantages/smile-easy-56@2x.png 2x" type="images/png" media="(min-width:768px)">
                          <source srcset="./images/advantages/smile-easy-36.png 1x, ./images/advantages/smile-easy-36@2x.png 2x" type="images/png" media="(max-width:767px)">
                          <img src="./images/advantages/smile-easy-56.png" alt="photo"/>
                        </picture>
                    </div>
                    <p class="advantages__item-title">Легко и просто</p>
                </div>
                <p class="advantages__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__box">
                    <div class="advantages__image-thumb">
                        <picture>
                          <source srcset="./images/advantages/smile-speed-56.png 1x, ./images/advantages/smile-speed-56@2x.png 2x" type="images/png" media="(min-width:768px)">
                          <source srcset="./images/advantages/smile-speed-36.png 1x, ./images/advantages/smile-speed-36@2x.png 2x" type="images/png" media="(max-width:767px)">
                          <img src="./images/advantages/smile-speed-56.png" alt="photo"/>
                        </picture>
                    </div>
                    <p class="advantages__item-title">Быстро и доступно</p>
                </div>
                <p class="advantages__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__box">
                    <div class="advantages__image-thumb">
                        <picture>
                          <source srcset="./images/advantages/smile-main-56.png 1x, ./images/advantages/smile-main-56@2x.png 2x" type="images/png" media="(min-width:768px)">
                          <source srcset="./images/advantages/smile-main-36.png 1x, ./images/advantages/smile-main-36@2x.png 2x" type="images/png" media="(max-width:767px)">
                          <img src="./images/advantages/smile-main-56.png" alt="photo"/>
                        </picture>
                    </div>
                    <p class="advantages__item-title">А главное, качественно</p>
                </div>
                <p class="advantages__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.</p>
            </li>
        </ul>
    </div>
</section>