<section class="section section-sale" id="section-sale">
    <div class="container">
        <img 
        class="section-sale__image"
        scrset="images/sale/sale.jpg 1x, images/sale/sale2.jpg 2x"
        src="images/sale/sale.jpg" 
        width="628"
        height="640"
        alt="Sale">
        <div class="section-sale__container">
            <h2 class="section-sale__title">Получите самую выгодную цену на планете</h2>
            <!-- <div class="section-sale__form-container"> -->
                <form class="section-sale__form">
                    <input 
                    class="section-sale__input"
                    type="email" 
                    name="sale-email" 
                    id="sale-email"
                    placeholder="Введите свой e-mail"
                    required>
                    <button class="section-sale__button" type="submit" aria-label="Отправить email">Отправить</button>
                </form>
                <p class="section-sale__signature">Нажимая на кнопку вы соглашаетесь на обработку <br><a href="#">персональных данных</a> </p>
            <!-- </div> -->
        </div>
    </div>
</section>